# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

###############################
# .NET Core / ASP.NET API
###############################
/BackendSignalR/bin/
/BackendSignalR/obj/
/BackendSignalR/out/

/BackendSignalR/*.user
/BackendSignalR/*.rsuser
/BackendSignalR/*.suo
/BackendSignalR/*.userosscache
/BackendSignalR/*.sln.docstates

/BackendSignalR/.vs/

/BackendSignalR/*.log
/BackendSignalR/*.nupkg
/BackendSignalR/*.snupkg
/BackendSignalR/project.lock.json
/BackendSignalR/project.fragment.lock.json
/BackendSignalR/artifacts/

/BackendSignalR/appsettings.Development.json
/BackendSignalR/appsettings.Local.json

###############################
# Angular
###############################
/frontendSignalR/node_modules/
/frontendSignalR/dist/
/frontendSignalR/tmp/
/frontendSignalR/out-tsc/
/frontendSignalR/.angular/cache/
/frontendSignalR/.angular/

/frontendSignalR/package-lock.json
/frontendSignalR/yarn.lock

/frontendSignalR/.env
/frontendSignalR/.env.local
/frontendSignalR/.env.*.local

###############################
# General IDE / SO
###############################
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db
Desktop.ini
